:root {
    --primarlyBlue: #195ABE;
    --secondaryBlue: #3090E7;
    --pictonBlue: #4DB3F1;
    --white: #FFFFFF;
    --lightDark: #2E2F38;
    --headersFont: 'Lato', 'Times New Roman' ,sans-serif;
    --paragraphFont: 'Inter', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headersFont);
}

p {
    font-family: var(--paragraphFont)
}

/* ---------- Header styles ---------- */

nav {
    display: grid;
    grid-template-columns: .1fr 1fr;
    border-bottom: 1px solid var(--lightDark);
    margin-bottom: 40px;
    background: linear-gradient(175deg, var(--pictonBlue), var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue));
    /* padding: 20px 0; */
    /* background-color: lightgray; */
    height: 75px;
}

.logo {
    /* background-color: aquamarine; */
    /* height: 75px; */
    /* width: 100%; */
    text-align: center;
    margin: 0 auto;
    height: 100%;
    margin: 0;
}

.logo img {
    height: 75px;
    width: 100%;
}

.nav-buttons {
    /* background-color: var(--primarlyBlue); */
    display: flex;
    justify-content: end;
    align-items: center;
    height: 75px;
    /* padding: 0; */
}

.nav-buttons div {
    margin: 0 5px;
}

.nav-buttons div a {
    text-decoration: none;
    color: var(--white);
}

.nav-buttons div:nth-child(1), div:nth-child(3) {
    cursor: pointer;
    border: 1px solid #000000;
    padding: 8px;
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue));
}

.vertical-line {
    background-color: var(--lightDark);
    width: 1px;
    height: 65%;
    /* padding: 0; */
    /* margin: auto 0; */
}

/* ---------- End of Header styles ---------- */

.login-main {
    text-align: center;
    /* padding: 80px 0; */
}

main h1 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0 0 20px 0;
}

.login-container {
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 3rem;
    width: 300px;
    text-align: left;
    margin: 0 auto;
    border: 1px groove;
    border-radius: 20px;
    background: var(--white);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #bebebe;
}

.login-form h1 {
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue), var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form label {
    font-family: var(--paragraphFont);
}

.input {
    height: 2.7rem;
    border: 1px solid var(--lightDark);
    border-radius: 4px;
    margin: 10px 0 30px 0;
    font-size: 1rem;
    font-family: var(--paragraphFont);
    background-color: lightgray;
}

.submit-button {
    cursor: pointer;
    width: 200px;
    height: 2.7rem;
    color: var(--white);
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue));
    border: 1px solid var(--lightDark);
    border-radius: 4px;
    margin: 0 auto;
    font-size: 1rem;
}

.login-form p {
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: center;
}

.login-form p > span {
    /* text-decoration: none; */
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--primarlyBlue), var(--secondaryBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    cursor: pointer;
}

.signup-container {
    display: none;
}

.fade-in-out {
    animation: fadeInOut 0.3s ease-in-out;
  }

  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
  }

/* ---------- Footer styles ---------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000000;
    color: var(--white);
    margin-top: 40px;
    background: linear-gradient(175deg, var(--pictonBlue), var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue));
}

footer img {
    width: 120.531px;
    height: 75px;
}

footer p:nth-child(3) {
    border-bottom: 1px solid;
    cursor: pointer;
}

footer a {
    text-decoration: none;
}

.social-media {
    margin-right: 10px;
}

.social-media img {
    width: 50px;
    height: 50px;
    margin: auto 5px;
}

/* ---------- End of Footer styles ---------- */