:root {
    --primarlyBlue: #195ABE;
    --secondaryBlue: #3090E7;
    --pictonBlue: #4DB3F1;
    --white: #FFFFFF;
    --lightDark: #2E2F38;
    --headersFont: 'Lato', 'Times New Roman' ,sans-serif;
    --paragraphFont: 'Inter', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headersFont);
}

p, a {
    font-family: var(--paragraphFont)
}

/* ---------- Header styles ---------- */

nav {
    display: block;
    border-bottom: 1px solid var(--lightDark);
    /* margin-bottom: 40px; */
    margin: 10px 0 40px 0;
}

.logo {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    margin: 0;
}

.logo img {
    height: 75px;
}

.nav-buttons {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.nav-buttons div {
    margin: 0 5px;
    border-radius: 4px;
}

.nav-buttons div a {
    text-decoration: none;
    color: var(--white);
}

.nav-buttons div:nth-child(1), div:nth-child(3) {
    cursor: pointer;
    border: 1px solid #000000;
    padding: 8px;
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue));
}

/* ---------- End of Header styles ---------- */

.login-main {
    text-align: center;
    /* padding: 80px 0; */
}

main h1 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0 0 20px 0;
}

.login-container {
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 3rem;
    width: 260px;
    text-align: left;
    margin: 0 auto;
    border: 1px groove;
    border-radius: 20px;
    background: var(--white);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #bebebe;
}

.login-form h1 {
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue), var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form label {
    font-family: var(--paragraphFont);
}

.input {
    height: 2.7rem;
    border: 1px solid var(--lightDark);
    border-radius: 4px;
    margin: 10px 0 30px 0;
    font-size: 1rem;
    font-family: var(--paragraphFont);
    background-color: lightgray;
}

.submit-button {
    cursor: pointer;
    width: 200px;
    height: 2.7rem;
    color: var(--white);
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue));
    border: 1px solid var(--lightDark);
    border-radius: 4px;
    margin: 0 auto;
    font-size: 1rem;
}

.login-form p {
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: center;
}

.login-form p > span {
    background: linear-gradient(to right, var(--primarlyBlue), var(--secondaryBlue), var(--primarlyBlue), var(--secondaryBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    cursor: pointer;
}

.signup-container {
    display: none;
}

.fade-in-out {
    animation: fadeInOut 0.3s ease-in-out;
  }

  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
  }

/* ---------- Footer styles ---------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid #000000;
    color: var(--white);
    margin-top: 40px;
    background-color: #bdbdbd;
    /* background: linear-gradient(175deg, var(--pictonBlue), var(--primarlyBlue), var(--secondaryBlue), var(--pictonBlue)); */
}

footer img {
    width: 120.531px;
    height: 75px;
    margin: 10px;
}

footer a {
    border-bottom: 1px solid;
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
}

.social-media {
    margin-right: 10px;
    margin-bottom: 10px;
}

.social-media img {
    width: 50px;
    height: 50px;
    margin: auto 5px;
}

/* ---------- End of Footer styles ---------- */


/* ---------- TaskNow App styles ---------- */

.app-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.app-logo {
    grid-column: 1/2;
    margin: 0 auto;
}

.toggle-container {
    grid-column: 2/3;
    margin: 0 auto;
}

.app-button {
    grid-column: 4/5;
    margin: 0 auto;
}

.vertical-line {
    grid-column: 5/6;
    height: 50px;
    width: 5px;
    background-color: #2E2F38;
    margin: 0 auto;
}

.log-buttom {
    grid-column: 6/7;
    margin: 0 auto;
}


/* To hide the checkbox */
#checkboxInput {
    display: none;
  }
  
  .toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
  }
  
  .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
  }

/* ---------- End TaskNow App styles ---------- */


/* ---------- Medium View ---------- */

@media only screen and (min-width: 40rem) {

    /* ---- Login page styles ---- */

    /* -- Main page styles -- */

    nav {
        display: grid;
        grid-template-columns: .1fr 1fr;
        height: 75px;
        margin: 0 0 40px 0;
        padding: 0 0 10px 0;
    }

    .logo {
        text-align: center;
        margin: 0 auto;
        height: 100%;
        margin: 0;
    }

    .logo img {
        width: 100%;
    }

    .nav-buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0;
    }

    .vertical-line {
        background-color: var(--lightDark);
        width: 1px;
        height: 65%;
    }


    .login-form {
        width: 300px;
    }

    
    .login-container::before,
    .signup-container::before {
        content: '';
        position: absolute;
        top: 10%;
        left: 25%;
        width: 80px;
        height: 400px;
        background-color: var(--primarlyBlue);
        opacity: 0.7;
        z-index: -1;
        animation: float-bottom-left 3s ease-in-out infinite;
    }

    .login-container::after,
    .signup-container::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 70%;
        width: 80px;
        height: 400px;
        background-color: var(--secondaryBlue);
        opacity: 0.7;
        z-index: -1;
        animation: float-top-right 3s ease-in-out infinite;
        /* transform: rotate(60deg); */
    }

    @keyframes float-top-right {
        0% {
        transform: translate(0, 0) rotate(45deg);
        }
        50% {
        transform: translate(100px, -100px) rotate(45deg);
        }
        100% {
        transform: translate(0, 0) rotate(45deg);
        }
    }

    @keyframes float-bottom-left {
        0% {
        transform: translate(0, 0) rotate(45deg);
        }
        50% {
        transform: translate(-100px, 100px) rotate(45deg);
        }
        100% {
        transform: translate(0, 0) rotate(45deg);
        }
    }


    footer {
        flex-direction: row;
        gap: 0;
    }

    .social-media {
        margin: 0;
    }


/* ---- End of login page styles ---- */

}


/* ---------- Large View ---------- */

@media only screen and (min-width: 64rem) {


    /* ---- Login page styles ---- */

    /* -- Main page styles -- */

    .login-container::before,
    .signup-container::before {
        top: 40%;
        left: 25%;
    }

    .login-container::after,
    .signup-container::after {
        top: 28%;
        left: 70%;
    }

    /* ---- End of login page styles ---- */
}